@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-self: center;
    max-height: 135vh;
    background: #ffffff;
    padding: 10px;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
      "cat cat cat4 cat4"
      "cat2 cat3 cat6 cat5"
      "cat2 cat3 cat6 cat5";
  }
  
  .cat { grid-area: cat; }
  
  .cat2 { grid-area: cat2; }
  
  .cat3 { grid-area: cat3; }
  
  .cat4 { grid-area: cat4; }
  
  .cat5 { grid-area: cat5; }

  .cat6 { grid-area: cat6; }
.grid-container img
{
    width: 100%;
    height: 100%;
}  
@media(max-width: 1120px)
{
    .grid-container
    {
        grid-template-areas:
        "cat cat cat cat"
        "cat4 cat4 cat4 cat4"
        "cat2 cat2 cat3 cat3"
        "cat6 cat6 cat5 cat5"
        ;
    }
}